@import '../../config';

.cart-dropdown__container{
  display: none;
  position: absolute;
  right: 0;
  top: 45px;
  width: 250px;
  max-height: 300px;
  box-sizing: border-box;
  padding: .5rem;
  overflow: auto;
  background: $grey-light-gradient;
  border-radius: 10px;
  z-index: 5;
  text-align: center;
  color: black;
}

.cart-dropdown__btns-container{
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  margin-top: 1.5rem;
}

.cart-open{
  display: block;
}