@import '../../config';

.cart-dropdown__container{
  display: none;
  position: absolute;
  top: 45px;
  right: 0;
  width: 250px;
  max-height: 300px;
  box-sizing: border-box;
  padding: .5rem;
  overflow: auto;
  background: $grey-light-gradient;
  border-radius: 10px;
  text-align: center;
  color: black;
}

.cart-dropdown__btns-container{
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  margin-top: 2rem;
  
  .cart-dropdown__btn:hover{
    scale: 1.05;
  }
}

.cart-open{
  display: block;
}


// media queries
@media screen and (min-width: 700px) {

  .cart-dropdown__container{
    right: -30px;
  }
}