.cart-icon__container{
    position: relative;

    .cart-icon__item-count{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 0;
        right: -4px;
        min-width: 15px;
        min-height: 15px;
        padding: 2px;
        border-radius: 50%;
        font-size: 12px;
        background-color: red;
    }
}

@media screen and (min-width: 700px) {

    .cart-icon__container{
        .cart-icon__item-count{
            font-size: 11px;
            width: 14px;
            height: 14px;
        }
    }
}