@import './config';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}


/* custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: $grey-light-gradient;
}
::-webkit-scrollbar-thumb {
  background: $grey-dark-gradient;
  border-radius: 8px;
}