@import './config';

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed';
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: $grey-dark-gradient;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb {
  background: $grey-light-gradient;
  border-radius: 8px;
}

// toast message styles
.toast-message{
  text-transform: capitalize;
}
@media screen and (max-width: 700px) {
  .toast-message{
    top: 3rem;
    left: 3rem;
    width: 75%;
    font-size: 1rem;
  }
}