@import '../../config';

.nav__container{
    position: sticky;
    top: 0;
    width: 100%;
    height: 3.5rem;
    
    .nav__navbar-mobile{
        height: 100%;
        
        ul{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        
        .nav__link{
            text-decoration: none;
            color: $white-color;
        }
        
        .nav__permanent{
            position: relative;
            z-index: 100;
            height: 100%;
            display: flex;
            list-style: none;
            justify-content: space-between;
            align-items: center;
            padding: 0 1rem;
            background: $grey-dark-gradient;

            .nav__logo-container{
                font-size: 30px;
                transform: translateY(5px);
            }
            
            .nav__cart{
                font-size: 25px;
            }
        
            .nav__ham-btn{
                height: 1.5rem;
                width: 1.5rem;
                position: relative;
                cursor: pointer;

                .nav__ham-btn-bar{
                    position: absolute;
                    top: 50%;
                    height: 3px;
                    width: 20px;
                    background-color: $white-color;

                    &::before{
                        content: '';
                        position: absolute;
                        top: -8px;
                        height: 3px;
                        width: 20px;
                        background-color: $white-color;
                    }
    
                    &::after{
                        content: '';
                        position: absolute;
                        top: 8px;
                        height: 3px;
                        width: 20px;
                        background-color: $white-color;
                    }
                }

                .nav__ham-btn-clicked{
                    background: transparent;

                    &::before{
                        top: 0;
                        transform: rotate(45deg);
                    }
                    &::after{
                        top: 0;
                        transform: rotate(-45deg);
                    }
                }
            }

        }

        .nav__drop-list{
            z-index: 99;
            visibility: hidden;
            transform: translateY(-100%);
            width: 100%;
            height: calc(100vh - 3.5rem);
            background: $grey-dark-gradient;
            
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: start;
            padding: 1rem;
            list-style: none;
            transition: $transit-quick;            
        }

        .nav__list-open{
            visibility: visible;
            transform: translateY(0);
        }
    }

    .nav__navbar-large{
        display: none;
        width: 100%;
        height: 100%;
        background: $grey-dark-gradient;

        .nav__permanent{
            max-width: 1000px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 100%;
            z-index: 100;
            margin: auto;
            padding: 0 2rem;

            .nav__link{
                text-decoration: none;
                color: $white-color;
                cursor: pointer;
            }
            
            .nav__logo-container{
                font-size: 30px;
                transform: translateY(5px);
            }

            .nav__links-container{
                display: flex;
                align-items: center;
                column-gap: 4rem;

                .nav__cart{
                    font-size: 20px;
                }
            }
        }
    }
}


@media screen and (min-width: 700px) {

    .nav__container{
        .nav__navbar-mobile{
            display: none;
        }
        
        .nav__navbar-large{
            display: inline-block;
            
        }
    }
}