@import '../../config';

.button{
    border: none;
    border-radius: 15px;
    font-size: 1rem;
    padding: .6rem;
    text-align: center;
    cursor: pointer;
    transition: $transit-quick;
}

.button__primary{
    color: $white-color;
    background: $black-grey-gradient;
    
    &:hover{
        scale: 1.01;
        background: $grey-black-gradient;
    }
}

.button__blue{
    color: $white-color;
    background: $blue-gradient;
    
    &:hover{
        scale: 1.01;
        background: $blue-reverse-gradient;
    }
}

.button__red{
    color: $white-color;
    background: $red-gradient;
    
    &:hover{
        scale: 1.01;
        background: $red-reverse-gradient;
    }
}

.button__green{
    color: $white-color;
    background: $green-gradient;
    
    &:hover{
        scale: 1.01;
        background: $green-reverse-gradient;
    }
}