.product-card__container{
    width: 300px;
    text-transform: capitalize;
    
    .product-card__image{
        width: 300px;
        border-radius: 16px;
        background: rgba(255, 255, 255, 0.23);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(0px);
        -webkit-backdrop-filter: blur(0px);
        border: 2px solid rgba(255, 255, 255, 0.57);
    }
}