@import '../../config';

.popup__container{
    position: fixed;
    z-index: 50;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
    width: 100%;
    backdrop-filter: blur(10px);
    overflow: scroll;
    
    .popup__msg{
        position: relative;
        max-height: 90vh;
        top: 25%;
        width: 50%;
        max-width: 350px;
        margin: auto;
        padding: 1rem;
        border-radius: 10px;
        text-transform: capitalize;
        text-align: center;
        background: $grey-light-gradient;

        .popup__text{
            margin-bottom: 1rem;
        }

        .popup__btns{
            width: 50%;
            margin: auto;
            display: flex;
            column-gap: 5px;
            justify-content: space-around;
        }
    }
}