.home-video__container{
    position: relative;
    height: 70vh;
    margin: 5rem 0;
    
    video{
        height: 100%;
        width: 100%;
        object-fit: cover;
        pointer-events: none;
    }
    
    h1{
        cursor: pointer;
        position: absolute;
        left: 5px;
        bottom: 5px;
        margin: 0;
        font-size: 2rem;
        text-transform: uppercase;
        color: white;
    }
}